.list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}
.filterButtons {
  display: flex;

  gap: 20px;
  margin-top: 20px;
}
.filterButton {
  color: black;
  background-color: aqua;
}
